@import '../abstract/colors';

// Scrollbar start
/* width and color of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $background;
    transition: 0.5s;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: $primary-light;
    transition: 0.5s;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    transition: 0.5s;
}

// Scrollbar end