$primary: #761CE2;
$gray: #5c5c5c;
$black: #2d2d2d;
$black-l: #ececec;
$white: #ffffff;
$background: #2d2d2d;
$primary-light: #a060ee;

$shadow: 0px 9px 14px 5px #00000030 ;
$shadow-t: 0px 8px 11px rgba(0,0,0,0.3);;

$theme-colors: (
    "primary": $primary,
    "gray": $gray,
    "black": $black,
    "white": $white,
    "background": $background
);